body {
  background-color: #fbfbfb;
}

::-webkit-scrollbar {
  display: none;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

// Banner
.banner-side {
  .sale-banner {
    height: 200px;
    background-image: url("https://content.asos-media.com/-/media/homepages/unisex/homepages/2021/06-june/ss-sale/desktop/mw_pink_desktop-1440x664.jpg");
    .sale-banner-header {
      span {
        color: white;
        background-color: #ff4186;
      }
      span:nth-child(3) {
        font-size: 24px;
      }
    }
  }
  .main-banner {
    height: 600px;
    background-image: url("https://content.asos-media.com/-/media/homepages/mw/2021/07/19th/mw_dreamland_desktophero_1258x600-(1).jpg");
    div {
      h1 {
        color: black;
        background-color: white;
        font-weight: bold;
      }
      button {
        border: 0;
        background: none;
        box-shadow: none;
        border-radius: 0px;
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: background-color 1s ease, color 1s ease;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 RGB(0 0 0 / 5%), 0 2px 10px 0 RGB(0 0 0 / 5%);
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 RGB(0 0 0 / 16%), 0 2px 10px 0 RGB(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.cart-checkbox {
  appearance: none;
  border: 1px solid currentColor;
  border-radius: 0.25rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  &:checked {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="m3.75 8.5 2.5 2.5 6-6" style="fill:none;stroke:white;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5"/></svg>')
        no-repeat center/100%,
      currentColor;
  }
}

// Product Side
.product-side {
  .product-side-title {
    color: black;
    h1 {
      font-weight: bold;
    }
  }
}
.product-item {
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  &:hover {
    box-shadow: 0 5px 15px rgb(214, 214, 214);
  }
  img {
    height: 300px;
  }
}

.category-item,
.list-btn {
  cursor: pointer;
  &:hover {
    color: #b3b3b3;
  }
}

.input-group-text {
  background-color: rgb(78, 78, 78);
  color: white;
}

.edit-profile-container,
.profile-list-group,
.my-container {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 3px 5px rgb(212, 212, 212);
}

.price-tag {
  color: rgb(37, 201, 37);
}

.edit-profile-container {
  h1 {
    color: black;
  }
  .change-password-container {
    padding: 20px;
    .form-outline {
      margin: 10px;
      .myInput {
        width: 350px;
      }
    }
  }
}

//Customize
.my-active {
  font-weight: bold;
  &:before {
    content: "👉 ";
  }
  &:after {
    content: " 👈";
  }
}

// RESPONSIVE
@media (max-width: 1200px) {
  .product-sidebar-container {
    display: none;
  }
  .category-btn {
    display: block !important;
  }

  .profile-sidebar-container {
    display: none;
  }
  .profile-sidebar-btn {
    display: block !important;
  }
}

.invalid {
  color: red;
}
